# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/

# Large datasets/models
*.pt
*.pkl
*.npy
binding-affinity/*.npy
binding-affinity/*.h5
binding-affinity/kiba.txt
binding-affinity/__pycache__/
bindingnew/
models/

# Logs
*.log